kafka:
  brokers: "kafka:9092"

importer:
  kafka:
    topic: "zeebe-export"
  elasticsearch:
    url: "https://ph-ee-elasticsearch:9200/"
    bulk-size: 20
    index-prefix: "zeebe-record"


elasticsearch:
  security:
    enabled: false
  sslVerification: false
  username: "elastic"
  password: "somepassword"

logging:
  level:
    ROOT: INFO
  pattern:
    console: "%clr(%d{dd-MM-yyyy HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%35.35t]){faint} %clr(%-28.28logger{28}){cyan} %clr(:){faint}%X{BUSINESS-LOG} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"


reporting:
  enabled: true
  fields:
    amount: true
    accountId: true
    ams: true
    clientCorrelationId: true
    currency: true
    customData: false
    confirmationReceived: false
    errorCode: false
    errorDescription: true
    errorInformation: true
    externalId: true
    initiator: false
    initiatorType: false
    isNotificationsFailureEnabled: false
    isNotificationsSuccessEnabled: false
    mpesaTransactionId: false
    mpesaTransactionStatusRetryCount: false
    originDate: false
    partyLookupFailed: false
    phoneNumber: true
    processDefinitionKey: false
    processInstanceKey: true
    scenario: false
    tenantId: false
    timer: false
    timestamp: true
    transactionFailed: false
    transactionId: false
    transferCreateFailed: false
    transferSettlementFailed: false
    transferResponseCREATE: false



